/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

*{
  box-sizing: border-box;
}
header,section{
  margin:10%;
}
.card-panel{width:50%; margin:10% auto !important; color:#607d8b;}
.card-title{font-size: 4vw;}